@font-face {
    font-family: 'OSPDINDIN';
        src: url('https://fontlibrary.org/assets/fonts/osp-din/fa3d08bd4b819d71da421ae73c1bd1d1/114a17ff44eacac9eb358ae0b49fe3cc/OSPDINDIN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

:root{
    --background: url(../background3.jpg);
    --background-body:rgba(230, 230, 230,1);
    --background-navbar: rgba(242, 242, 242,1);
    --background-one: url(../compost-heap.jpg);
    --background-two: url(../community-comp.jpg);
    --background-three: url(../worms-compost.gif);
    --background-four: url(../background2.jpg);
    --background-five: url(../community-comp.jpg);
    --font-navbar: 'OSPDINDIN';
    --menu-items:rgba(8, 8, 8,1);
    --background-columns:rgba(12, 3, 0,1);
    --main-font:'Roboto';
    scroll-snap-type:y mandatory;
    user-select: none;
    cursor: url(../shovel-final.svg), auto;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    list-style-type:none;
}
body{
    display:grid;
    width:100%;
    height:100%;
    background:var(--background-body);
}
main{
    align-items:center;
    width:100%;
    height:100vh;
    background-image:linear-gradient(30deg, black 0%, transparent 50%), var(--background);
    background-repeat:no-repeat;
    background-size:cover;
}
header{
/*     position:sticky; */
    top:0;
}
#abso-nav{
    display:block;
    position:absolute;
    width:100%;
    height:15vh;
    top:0;

}
nav{
    position:sticky;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    height:80%;
    z-index:10;
}
.header-logotype{
    margin:auto 0;
    display:flex;
    width:25%;
    height:80%;

}
#web-name{
    margin:auto;
    height:80%;
    display:flex;
}
nav ul{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    -webkit-align-items:center;
    height:50%;
    align-items:center;
    width:45%;
    font-family:var(--font-navbar);
    font-size:1.5rem;
    margin:0 1rem;

}
a{
    color:var(--menu-items);
    width:calc(33% - 3rem);
    aspect-ratio: 2 / 1;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 0.3rem;
    transition:background 0.3s;
}
a:hover{



}
li{
    cursor:pointer;
    display:flex;
    align-self:center;
    margin:auto;
    cursor: url(../shovel-final.svg), auto;


}
.landing-page{
    display:flex;
    align-items:flex-end;
    padding:8em 6rem;
    width:100%;
    height:100%;
    margin:auto;
}
p#intro{
    font-family:'Roboto';
    font-size:1.8rem;
    letter-spacing:-1px;
    line-height:1;
    color:white;
    width:40%;
    text-align:justify;
}
.grid-cont{
    width:100%;
    height:100vh;
    display:grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    grid-gap:0.6rem;
    padding:0.6rem;
    background-color:black;
}
h3{
    grid-area: 1 / 1 / 2 / 12;
}
.mosaic{
    padding:1rem;
    background-repeat:no-repeat;
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-position:center;
}
.huerta{
    background-color:white;
}
.cards{
    grid-area:2 / 2 / 13 / 12;
    width:90%;
    height:90%;
    display:flex;
    margin:auto;
    justify-content:center;
    align-items:center;
    border:2px solid red; 
}
.card{
    background-size:cover;
    background-position:center;
    width: 40%;
    height:40%;
    border:2px solid blue;
}
.cardnone{
    background-image: url(../seeds.jpg);
}
.cardntwo{
    background-image: url(../soil.jpg);
}
.cardnthree{
    background-image: url(../bee.jpg);
}
.cardnfour{
    background-image: url(../sunlight.jpg);
}


#pic-one{
    grid-area: 1 / 1 / 6 / 5;
    background-image: var(--background-one);
}
#pic-one:hover{

}

#pic-two{
    grid-area: 1 / 5 / 6 / 9;
    background-image: var(--background-two);
}

#pic-three{
    grid-area: 1 / 9 / 6 / 13;
    background-image: var(--background-three);
}

#pic-four{
    grid-area: 6 / 1 / 13 / 7;
    background-image: var(--background-four);
}

#pic-five{
    grid-area: 6 / 7 / 13 / 13;
    background-image: var(--background-five);
}
